@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Poppins|Righteous');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  /* Old browsers */
  background: black;
  margin: 0;
  padding: 0;

}

#menu ul {
	position: fixed;
	margin: 0;
	margin-top: 20;
	padding: 10px 120px 0px 0px;
	background-color: black;
	list-style: ;

}

#menu ul li{
	display: inline;
}


#menu ul li a {
	padding: 20px 40px;
	display: inline-block;
	color: #00cccc;
	font-family: 'Poppins', sans-serif;
	font-family: 'Righteous', cursive;
	font-family: 'Lobster Two', cursive;
	font-weight: bold;
	font-size: 50px;
	text-decoration: none;
	margin-left: 90px;	
}

.image {
  background-image: url("def.JPG");
  background-position: center;
  height: 500px;
  margin: 0;
  padding: 1
 0px 10px 10px 10px;
}
 .caption {
 	margin-top: 10px;
  display: block;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-style: italic;
  line-height: 50px;
  margin-left: 50px;
  padding: 10px;
  top: 30%;
  width: 60%;
  color: #00cccc;
  
}
form {
	font-size: 16px;
	background: black;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;

}

h1 {
	padding: 0px 10px 0px 200px;
	font-family: 'Poppins', sans-serif;
	font-family: 'Righteous', cursive;
	font-family: 'Lobster Two', cursive;
   color: #cc0052;
}

input, textarea {
	width: 470px;
	padding: 10px;
}

.enviar input {
	background-color: #cc0052;
	height: 40px;
	width: 150px;
	font-weight: bold;


